.priority-Baja {
    background-color: #00ba3538 !important; 
    padding: 0.5rem !important;
    color: #00BA34 !important; 
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif !important; 
}

.priority-Moderada {
    background-color: #FF961B22 !important; 
    padding: 0.5rem !important;
    color: #FF9F2D !important; 
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif !important; 
}

.priority-Alta {
    background-color: #ff3b3b22 !important;
    padding: 0.5rem !important;
    color: #E92C2C !important; 
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif !important; 
}

.rbc-calendar {
    width: 100%;
    height: 98%;
    border-radius: 18px; 
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    background-color: white;
}

.rbc-month-view {
    border-radius: 18px; 
}

.rbc-toolbar {
    display: flex;
    flex-direction: wrap;
    padding: 1rem; 
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.rbc-event-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    font-weight: 600;
    color: rgb(254, 84, 84);
}

.rbc-event{
    background-color: #ffffff  !important;
}

.rbc-header{
    padding: 13px !important;
    color: #0B103D;
}

.rbc-day-bg.rbc-off-range-bg{
    background-color: white;
}
