@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


html, body {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #afb2b6; 
  }
   
::-webkit-scrollbar-thumb {
    background: #33333352; 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #16141452; 
  }
  
